.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
*{
    margin: 0;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    /* margin-top: 2rem; */
    margin-left: 190px;
    margin-right: 190px;
}
.nav-bar > ul{
    display: flex;
    justify-content: left;
    align-items: center;
}
li{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
.orange{
    font-style: italic;
    color: rgba(230, 83, 60, 1);
    font-size: 2.25rem ;
    font-weight: bolder;
    margin-top: 50px;
}
ul{
        border: 1px solid rgba(255, 255, 255, 0.1);
        width: 27.5rem;
        height: 2rem;
        gap: 47px;
        text-align: left;
        align-items: center;
        border-radius: 50px;
        padding: 4px;
        margin-top: 50px;
}
.home-btn{
    padding: 6.5px 20px;
    width: 56px;
    height: 23px;
    border-radius: 46px;
    background-color: rgba(230, 83, 60, 1);
    text-align: center;
    align-items: center;
}
.container{
    background-color: rgba(17, 17, 17, 1);
    margin: 0px;
    width: 100%;
    height: 715px;
    padding: 0px;
}
.nav-txt{
    color: rgba(255, 255, 255, 1);
    font-size: 1.125rem;
    font-weight: 400;
}
.containeraa{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.disp{
    width: 32.5rem;
    height: 27.5rem;
    margin-left: 190px;
    margin-top: 96px;
;
}
.gbn{
    color: rgba(255, 255, 255, 1);
    font-size: 78px;
    line-height: 120%;
}
.huge{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 24px;
}
.club{
    width: 224px;
    height: 54px;
    padding: 16px 42px;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 28px;
    margin-right: 14px;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 42px;
    color: white;
    cursor: pointer;
    border: 0px solid black;
}
.dwa{
     width: 224px;
    height: 54px;
    padding: 16px 42px;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 28px;
        border-radius: 42px;
    color: white;
    cursor: pointer;
    background-color: black;
    border: 1px solid white;
}
.boka{
    margin-right: 196px;
    margin-top: 40px;
    margin-left:232px ;
}
li >a{
    text-decoration: none;
    color: white;
}
.video{
    background-color: rgba(255, 255, 255, 0.1);
    width: 186px;
    height: 96px;
    position: absolute;
    border-radius: 12px;
    margin: 164px 140px 0px 1206px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: (6px);
}
.nai{
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 1);
    font-weight: bolder;
    text-align: left;
    padding-top: 14px;
    padding-left: 26px;
}
.ccci{
    color: rgba(255, 255, 255, 0.65);
    text-align: left;
    padding-top: 4px;
    padding-left: 26px;
    font-size: 0.8125rem;
}
.more-vids{
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    border-radius: 12px;
    margin: 456px 470px 0px 884px;
    width: 200px;
    height: 96px;
    background-color: rgba(48, 48, 48, 0.54);
    align-items: center;
    display: flex;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: (6px);
    
}
.pnai{
    font-size: 1.5rem;   
    color: rgba(255, 255, 255, 1);
    font-weight: bolder;
    text-align: left;
    padding-top: 2px;
    padding-left: 20px;
}
.vt{
        color: rgba(255, 255, 255, 0.65);
    text-align: left;
    padding-top: 4px;
    padding-left: 20px;
    font-style: 1rem;
}
.piniata{
    background-color: rgba(230, 83, 60, 1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 18px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.bbg{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.hero{
    margin: 0px auto 0px auto;
}
.habit{
    color: rgba(255, 255, 255, 1);
    font-weight: bolder;
    font-size: 3rem;
    margin-bottom: 14px;
}
.gym-txt{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85rem;
    font-weight: normal;
}
.hb-txt {
    margin: 70px auto 0px auto;
    text-align: center;
    width: 620px;
    margin-bottom: 50px;
}
.imgs{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    margin: 2px auto 0px auto;
    width: 1044px;
    height: 270px;
    gap: 40px;
}
.mtpw{
    color: white;
    font-size: 1rem;
    text-align: center;
    margin: 20px 60px 0px 10px;
}
.imgsdd{
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
}
.phew{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.825rem;
    text-align: center;
    margin-right: 42px;
}
.runn{
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    font-weight: bolder;
    line-height: 120%;
    text-align: left;
}
.wee{
    font-size: 0.825rem;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    margin-top: 14px;
}
.whah{
    background-color: white;
        width: 1060px;
    height: 370px;
     margin: 100px auto 0px auto;
}
.xtrarun{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
    width: 1060px;
    height: 370px;
    /* margin: 100px 190px 0px 190px; */
}
.rui{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    margin: 30px 30px 28px 160px;
}
.adad{
    margin: 40px 165px 40px 54px;
}
.wedoex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 00px auto 0px auto;
}
.sda{
    margin: 100px 389px 0px 0px;
    width: 650px;
}
.exercise> img{
    height: 190px;
}
.exercise{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    margin-left: -28px;
    margin-top: 52px;
    width: 1020px;
}
.exercisee> img{
    height: 190px;
}
.exercisee{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    margin-left: -28px;
    width: 1020px;
}
.exe{
    width: 520px;
    position: absolute;
    margin-left: 260px;
}
.exw{
    width: 323px;
    /* margin-left: 190px; */
    /* margin-right: 520px; */
}
.ewe{
    width: 290px;
    margin-left: 445px;
}
.legd{
    width:435px;
}
.seddf{
    position: absolute;
    margin: 0px 436px 0px 400px;
}
.megs{
    margin-left: 250px;
    width: 373px;
}
